* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

kbd {
  display: block;
}

:focus {
  outline: none;
}

form {
  position: absolute;
  top: 1.5em;
  right: .5em;
  z-index: 3;
}

form input {
  position: absolute;
  opacity: 0;
  left: -999px;
}

form label {
  cursor: pointer;
  padding: .5em 1em;
  border-radius: 1em;
  border: .1em solid black;
  background: #ffffffbb;
  transition: all .3s;
}

form label:hover, form:focus-within label {
  background: #e2e2e2;
}

form input:checked + label:hover, form:focus-within input:checked + label {
  background: black;
}

form input:checked + label {
  color: white;
  background: #000000bb;
}

section.piano {
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));
  grid-auto-rows: 10em;
  width: 100%;
  border-top: 2px solid #222;
  padding: 2px 0 0 2px;
  overflow: hidden;
  background: #000;
  border-radius: 0 0 .5em .5em;
}

button {
  border: none;
  position: relative;
  margin: 0 .1em .1em 0;
  background: #fff;
  border-radius: 0 0 .5em .5em;
}

button:focus, button.active {
  box-shadow: inset 3px 2px 3px #999, inset -3px 2px 3px #999;
}

button[disabled] {
  background: #aeaeae;
}

.black {
  background: black;
  color: white;
  column-span: none;
  margin: 0;
  z-index: 2;
}

.piano-note {
  position: absolute;
  width: calc(100vw / 13);
  min-width: 1em;
  height: 3rem;
  border: .05em solid white;
  transition: all .5s;
  animation: slideIn 1s ease-out forwards;
}

.hidden {
  display: none;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(200px)
  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}